@{
    ViewBag.Title = "Sealand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<a class="btn btn-large btn-info" href="#" role="form" data-toggle="modal" data-target="#confirmClasRapido">
        <div class="row">
            <div class="col-md-12">
                <label style="cursor: pointer;">F2 = Alta Clasificadores</label>
            </div>
        </div>
    </a>*@

@*<a class="btn btn-large btn-info" href="#" role="form">
        <div class="row">
            <div class="col-md-12">
                <label style="cursor: pointer;">F3 = Alta Personas Físicas</label>
            </div>
        </div>
    </a>
    <a class="btn btn-large btn-info" href="#" role="form">
        <div class="row">
            <div class="col-md-12">
                <label style="cursor: pointer;">F4 = Alta Personas Jurídicas</label>
            </div>
        </div>
    </a>*@